/* Global */
body {
    margin: 0;
    font-family: "Helvetica Neue", Helvetica, sans-serif;
    font-size: .95em;
    background: #303748;
}
.page {
    position: relative;
    z-index: 10;
    padding-top: 40px;
}
body:after {
    content: "";
    position: fixed;
    bottom: -33%;
    left: 0;
    z-index: 5;
    width: 100%;
    height: 66%;
    background: #ff5a60;
    transform: skew(0, -8deg);
}
.clear {
    clear: both;
}

/* Titres */
h1 {
    margin: 2em 0;
    color: #fff;
    font-family: Verdana, Arial, Helvetica, sans-serif;
    font-size: 2em;
    text-transform: uppercase;
}
h2 {
    margin-top: 0;
    color: #868395;
    text-transform: uppercase;
    font-size: 1.2em;
}

/* Layout */
.header-inner,
.footer-inner,
.main {
    position: relative;
    margin: 0 auto;
    width: 960px;
    overflow: hidden;
}
.main p {
    color: #fff;
}
ul {
    margin: 0;
    padding: 0;
}
header p {
    float: left;
    color: #fff;
}
header ul {
    margin: 3px 0;
}
header li {
    float: left;
    display: inline;
    margin: 12px 0 0 25px;
    color: #fff;
}
.is-fixed header {
    position: fixed;
    top: 0;
    left: 0;
    z-index: 5;
    width: 100%;
    color: #333;
    background: #fff;
    box-shadow: 0 5px 21px rgba(0, 0, 0, .17);
    transform: none;
}
.is-fixed header * {
    color: inherit;
}

.link {
    margin-left: 20px;
    color: #333;
    text-decoration: none;
}
.link:hover {
    text-decoration: underline;
}

.list-result-wrapper {
    float: left;
    width: 78%;
}
.list-result-wrapper li {
    padding: 20px 3%;
    margin-bottom: 20px;
    list-style: none outside none;
    background: #fff;
}
aside {
    float: right;
    width: 20%;
}
#aside-block-1-wrapper,
#aside-block-2-wrapper {
    position: relative;
    height: 120vh;
}
.aside-block {
    padding: 20px 10%;
    height: 50vh;
    background: #fff;
    overflow: hidden;
}
.aside-block p {
    color: #000;
}
section.is-fixed .aside-block {
    position: fixed;
    top: 70px;
    width: 154px;
    padding: 20px 19px;
}
section.is-bottom .aside-block {
    position: absolute;
    right: 0;
    bottom: 0;
    padding: 20px 19px;
    width: 154px;
}
footer {
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: 50;
    background: rgba(255, 255, 255, .5);
}
footer ul {
    display: flex;
    justify-content: center;
}
footer li {
    list-style: none;
}
footer a {
    display: block;
    padding: 10px;
    color: #303748;
}
footer a.is-active,
footer a:hover {
    text-decoration: none;
}

/* Demo complex */
.demo-complex .map {
    display: flex;
    flex-direction: column;
    justify-content: center;
    float: left;
    width: 78%;
    min-height: 340px;
    background: #fff;
}
.demo-complex .map-inner {
    padding: 20px 2%;
}
.demo-complex.is-fixed .map {
    position: fixed;
    top: 0;
    width: 749px;
}
.demo-complex.is-bottom .map {
    position: absolute;
    bottom: 0;
}
.demo-complex .map p {
    color: #303748;
    font-size: 1.2em;
    font-weight: bold;
    text-align: center;
}
.demo-complex .search-result,
.demo-complex #search-submit.is-hidden {
    display: none;
}
.demo-complex .search-result.is-showed {
    display: block;
}
.demo-complex .list-result-wrapper {
    float: none;
    width: auto;
    margin: 40px 0;
}
.demo-complex .list-result-wrapper li {
    padding: 0;
}
.demo-complex .aside-block {
    padding: 0;
    height: auto;
    min-height: 340px;
}
.demo-complex .block-inner {
    padding: 20px 10%;
}
.demo-complex .btn {
    width: 100%;
    padding: 10px 20px;
    background: #ff5a60;
    border: 0;
    color: #fff;
    font-weight: bold;
    font-size: .9em;
    text-transform: uppercase;
    cursor: pointer;
    transition: .2s;
}
.demo-complex .btn:hover {
    background-color: #303748;
}
.demo-complex .content-bottom {
    clear: both;
    overflow: hidden;
    padding: 60px 0;
}